@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

h1{
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h1, h2{
  font-family: 'Roboto', sans-serif
}

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

img{
  width: 100px;
  border-radius: 50%;
}

.blue-button {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

.blue-button:hover{
color:blueviolet;
}

h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

.container {
  background-color: #ffffff;
  border: solid 1px rgb(180,180,180,0.5);
  border-radius: 4px;
  padding: 20px;
  width: 600px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  text-align: center;
}

.blue-button {
  background-color: #6b72e1;
  color: white;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  padding: 8px;
  border-radius: 4px;
}

h2{
  color: chocolate;
}

.social-links {
  padding: 0;
  list-style: none;
  display: block;
  margin-left: 0;
}

.social-links li {
  display: inline-block;
  font-size: 50px;

}

#link-github {
  color: black;
  size: 100px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
